body{
    background-image: url(../recursos/fondo3.jpg); 
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position: center center;
}

*{
    margin: 0;
}

.header {
    width: 100%;
    height: 25vw;
    mask-image: linear-gradient(rgb(6, 6, 6) 10%, transparent);
    background-size: cover;
    background-image: url(../recursos/up.jpg);
}


.distribucion {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
    "peli2 texto texto texto texto"
    "peli2 texto texto texto texto"
    "calificacion texto texto texto texto"
    "calificacion texto texto texto texto" 
    "estrellas texto texto texto texto"
    "actores actores actores actores actores";
    gap: 10px;
    margin-top: -45px;
}

.parte1 {
    display: flex;
    margin-left: 0;
    margin-top: -200px;
}

.peli2 img {
    grid-area: peli2;
    width: 290px;
    height: 390px;
}

.texto {
    grid-area: texto;
    margin-left: 20px;
}

.texto h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -14px;
}

.texto h2 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 10px;
}

.texto h3 {
    color: rgb(255, 255, 255);
    font-size: 23px;
    font-style: italic;
    margin-top: 5px 5px;

}

.texto h4 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-top: 10px;

}

.texto p {
    color: rgb(255, 255, 255);
    word-wrap: break-word;
    text-align: justify;
    font-size: 25px;
    margin-top: 10px;
}

.genero {
    grid-area: genero;
    color: rgb(255, 255, 255);
    font-size: 33px;
    margin-top: 20px;
    text-align: left;
}

.calificacion {
    grid-area: calificacion;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px;
}


.calificacion .trailer {
    text-align: center;
    display: block;
    margin-top: -15px;
    font-size: 20px;
    margin-left: -5px;
    background-color: transparent;}
    
    .calificacion .trailer a {
        color: rgb(63, 139, 201);}
    
    .calificacion .trailer a:hover {
        color: rgb(161, 208, 247);}


.califica {
  
    color: rgb(255, 255, 255);
    display: block;
    margin-left: -10px;
    font-size: 27px;
    margin-top: -5px;
    background-color: transparent;
}

.estrellas {
    grid-area: estrellas;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start; 
    gap: 5px;
    font-size: 55px;
    cursor: pointer;
    width: 360px;
    height: 150px;
    margin-left: -125px;
    position: relative;
    top: -10px;
}

.estrellas input {
    display: none;
}

.estrellas label {
    color: gray;
    transition: color 0.3s;
}

.estrellas label:hover,
.estrellas label:hover~label {
    color: gold;
}

.estrellas input:checked~label {
    color: gold;
}

.actores {
    grid-area: actores;
    display: flex;
    justify-content: center; 
    gap: 130px; 
    text-align:center;
    flex-wrap: wrap; 
    margin-top: -60px;
    background-color: transparent;
    position: relative;
    top: 10px;
}
.tituloacto{
    font-size: 25px;
    text-align: center;
    color: aliceblue;
    margin-bottom: 20px;
    width: 100%;
  position: relative;
  top: 60px;
}

 .actor11 {
display: flex;
flex-direction: column;
align-items: center;

}
.actor11 img{
    width: 180px;
    right: 180px;
    object-fit: cover;

}

 .personaje {
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.nombre {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.footer{
    position: relative;
    width: 100%;
    height: 30vw;
    mask-image: linear-gradient(transparent, rgb(0, 0, 0));
    background-size: cover;
    background-position: center;
    background-image: url(../recursos/pabajo.jpg);
    background-position: center;
    margin-top: -70px;
}
