* {
    background-color: black;
    margin: 0;

}

.header {
    width: 100%;
    height: 20vw;
    mask-image: linear-gradient(black 10%, transparent);
    background-size: cover;
    background-image: url(../recursos/headerflow.jpg);
}


.distribucion {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
        "peli2 texto texto texto"
        "peli2 texto texto texto"
        "calificacion genero . ."
        "actores actores actores actores"
        "resena resena resena resena";
    gap: 10px;

}

.parte1 {
    display: flex;
    margin-left: 0;
    margin-top: -200px;
}

.peli2 {
    grid-area: peli2;
    width: 290px;
    height: 390px;
}

.texto {
    grid-area: texto;
}

.texto h1 {
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.texto h2 {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.texto h3 {
    color: rgb(255, 255, 255);
    font-size: 23px;
    font-style: italic;

}

.texto h4 {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.texto p {
    color: rgb(255, 255, 255);
    word-wrap: break-word;
    text-align: justify;
    font-size: 25px;
}

.genero {
    grid-area: genero;
    color: rgb(255, 255, 255);
    margin-left: 365px;
    font-size: 25px;
    margin-top: -23px;
}

.calificacion {
    grid-area: calificacion;
}

.calificacion h7 {
    color: rgb(207, 241, 255);
    display: block;
    margin-left: 92px;
    margin-top: -185px;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 0);

    h7:hover {
        color: rgb(145, 205, 255);
    }
}

.calificacion h8 {
    color: rgb(255, 255, 255);
    display: block;
    margin-left: 76px;
    font-size: 25px;
    margin-top: 10px;
}

.estrellas {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    font-size: 50px;
    cursor: pointer;
    width: 360px;
    height: 150px;
}

.estrellas input {
    display: none;
}

.estrellas label {
    color: gray;
    transition: color 0.3s;
}

.estrellas label:hover,
.estrellas label:hover~label {
    color: gold;
}

.estrellas input:checked~label {
    color: gold;
}


.actores {
    grid-area: actores;
}

.actores h9 {
    color: rgb(255, 255, 255);
    display: flex;
    margin-left: 35px;
    font-size: 50px;
    margin-top: 20px;
}

.actores h10 {
    color: rgb(255, 255, 255);
    margin-left: 200px;
    font-size: 25px;
}

.actores h11 {
    color: rgb(255, 255, 255);
    margin-left: 250px;
    font-size: 20px;
}

.actores h12 {
    color: rgb(255, 255, 255);
    margin-left: 550px;
    font-size: 25px;
    margin-top: -50px;
}

.actores h13 {
    color: rgb(255, 255, 255);

    margin-left: 600px;
    font-size: 20px;
    margin-top: -20px;
}

.actores h14 {
    color: rgb(255, 255, 255);

    margin-left: 950px;
    font-size: 25px;
    margin-top: -70px;
}

.actores h15 {
    color: rgb(255, 255, 255);
    margin-left: 1010px;
    font-size: 20px;
    margin-top: -20px;
}


.resena {
    grid-area: resena;
}