body{
background-image: url(recursos/fad5aa2e7f750e518b08f90280ff070f\ \(1\).jpg) ;
background-color: rgba(0, 0, 0, 0.9);
background-repeat: no-repeat;
background-attachment:fixed;
background-size: cover;
}

.titulo{

    width: 800px;
    height: 600px;
    display: block;
    margin: 0 auto;
    max-width: 100%; 
    margin-top: -200px;
}

.b{
    position: fixed;         
    bottom: 10px;            
    right: 10px;            
    z-index: 9999;  
    width: 100px;
    background-color: #460b0b;   
    padding: 8px 20px;          
    border: none;                
    border-radius: 0px;          
    cursor: pointer;             
    font-size: 10px;             
    transition: background-color 0.3s ease;  
  }
  
  .b:hover {
    background-color: #8b0000;   

  }
.b a h2{
    text-align: center;
    color: rgb(255, 229, 85);
    text-decoration: underline;
    text-decoration-color: #460b0b;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
  

h1{
    color: aliceblue;
    text-align: center;
  }

.margen{   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 1200px;
    height: 1150px;
    background-color: hsla(33, 78%, 91%, 0.568);
    margin: auto;
    margin-top: -150px;
}

.peli1{
    width: 250px;
    height: 350px;
    margin: 1.5cm;
}
.peli2{
    width: 250px;
    height: 350px;
    margin: 1.5cm;
}
.peli3{
    width: 250px;
    height: 350px;
    margin: 1.5cm;
}
.peli4{
    width: 250px;
    height: 350px;
    margin: 1.5cm;

}
.peli5{
    width: 250px;
    height: 350px;
    margin: 1.5cm;

}
.peli6{
    width: 250px;
    height: 350px;
    margin: 1.5cm;

}
.des1{
    color: rgb(66, 8, 8);
    text-decoration: underline; 
    text-decoration-color: rgb(153, 43, 43);
    font-size: 30px;
    text-align: center;
    position: relative;
    top: -600px;
    margin-left: -30px;
}
.des2{
    color: rgb(53, 6, 40);
    text-decoration: underline; 
    text-decoration-color: rgb(134, 23, 134);
    font-size: 30px;
    text-align: center;
    position: relative;
    top: -600px;
    margin-left: -30px;
    
}
.des3{

    color: rgb(5, 19, 44);
    text-decoration: underline; 
    text-decoration-color: rgb(40, 108, 153);
    font-size: 30px;
    text-align: center;
    position: relative;
    top: -600px;
    margin-left: -30px;
}
.des4{
    color: rgb(63, 15, 25);
    text-decoration: underline; 
    text-decoration-color: rgb(185, 61, 78);
    font-size: 30px;
    text-align: center;
    position: relative;
    top: -150px;
    margin-left: -30px;
}
.des5{
    color: rgb(32, 9, 73);
    text-decoration: underline; 
    text-decoration-color: rgb(60, 35, 151);
    font-size: 30px;
    text-align: center;
    position: relative;
    top: -150px;
    margin-left: -30px;
    
}
.des6{
    color: rgb(58, 9, 9);
    text-decoration: underline; 
    text-decoration-color: rgb(136, 43, 43);
    font-size: 30px;
    text-align: center;
    position: relative;
    top: -150px;
    margin-left: -30px;
}


